.index-form_content {
    margin: 0 auto;
    padding: 30px 15px;
    background: #ddd;
}

.index-form_header {
    display: flex;
    margin-bottom: 40px;
}

.header-title {
    float: left;
}

.header-button {
    float: right;
}

.register-button {
    padding: 10px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #f5c800;
    color: #000;
    cursor: pointer;
}

.index-form_left {
    display: block;
    width: 20%;
}